@font-face {
    font-family: Open Sans Condensed;
    src: url("../font/OpenSansCondensed-Bold.ttf");
}
:root{
    --border-color: linear-gradient(120deg,#9b59b6,#34495e);
}
*{
    padding: 0;
    margin: 0;
    font-family: Open Sans Condensed;
}
.container-menu{
    display: flex;
    width: 100%;
    height: 20vh;
    font-size: 25px;
    background-image: url('../img/menu.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
.container-menu nav{
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}
.container-menu ul{
    padding: 30px;
    list-style: none;
}
.container-menu li{
    padding: 20px;
    float: left;
    color: #333;
}
.container-menu li img{
    width: 20px;
    height: 20px;
}
.container-menu ul li{
    display: inline;
}
.container-menu ul li a{
    text-decoration: none;
}
.container-menu nav:hover{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
.container-shop{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    height: 70vh;
    margin-top: 5px;
    margin-bottom: 30px;
}
.container-prod{
    height: 100%;
    width: 25%;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    overflow:auto;
}
.header{
    background-color: #34495e;
    font-size: 30px;
    height: 10vh;
    text-align: center;
    color: #ecf0f1;
}
.header p{
    margin: auto;
    padding: 0;
}
.container-buy{
    height: 100%;
    width: 45%;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
}
.info-prods{
    color: #34495e;
    font-size: 25px;
}
.info-prods ul{ 
    display: flex;
    list-style: none;
    display: list-item;
}
.info-prods li img{
    width: 30px;
    height: 30px;
}
.info-prods ul li{
    padding: 25px;
}
.info-prods li{
    cursor: pointer;
    transition: .2s;
}
.info-prods li:hover{
    border-radius: 10px;
    background: linear-gradient(120deg,#9b59b6,#34495e);
    background-position: right;
}
.container-progress{
    width: 50%;
    margin: auto;
    padding: 0;
}
.progress{
    height: 25px;
    border-radius: 10px;
    background-color: #34495e;
    position: relative;
}

.progress .progress-bar{
    border-radius: 10px;
    position: absolute;
    height: 100%;
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
    animation: progress-animation 7s linear;
    animation-fill-mode: forwards;

}
.quant{
    display: flex;
    font-size: 20px;
    flex-direction: row;

}
#info_modal{
    width: 200px;
    border: none;
    font-size: 20px;
}
.quant input{
    border: 0;
    border-bottom: 2px solid #8e44ad;
    text-align: center;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
    width: 150px;
}
.quant button{
    border: none;
    background: linear-gradient(120deg,#9b59b6,#34495e);
}

/* Reponsividade */
@keyframes progress-animation{
    0% { width: 0%; }
    
    100% { width: 100%}
    
}
@media(max-width: 700px){
    .container-menu{
        height: 30vh;
        font-size: 20px;
        flex-direction: column;
        transition: all 0.5s;
    }
    .container-menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px; 
    }
    .container-menu li{
        padding: 8px;
    }
    .container-shop{
        flex-direction: column;
        justify-content: center;
    }
    .container-prod{
        margin: auto;
        padding: 0; 
        width: 70%;
        margin-bottom: 30px;
    }
    .container-buy{
        margin: auto;
        padding: 0;
        width: 70%;
    }
}